/Optimized-UniMVSNet/dtu_training
/Optimized-UniMVSNet/dtu_testing
/Optimized-UniMVSNet/blendedmvs
/Optimized-UniMVSNet/tanksandtemples
/Optimized-UniMVSNet/log
/Optimized-UniMVSNet/output
/Optimized-UniMVSNet/dtu_points

/UniMVSNet/dtu_training
/UniMVSNet/dtu_testing
/UniMVSNet/blendedmvs
/UniMVSNet/tanksandtemples
/UniMVSNet/log
/UniMVSNet/output
/UniMVSNet/dtu_points
