/Optimized-UniMVSNet/dtu_training
/Optimized-UniMVSNet/dtu_testing
/Optimized-UniMVSNet/blendedmvs
/Optimized-UniMVSNet/tanksandtemples
/UniMVSNet/dtu_training
/UniMVSNet/dtu_testing
/UniMVSNet/blendedmvs
/UniMVSNet/tanksandtemples